.form-group.field
  = f.label :email
  = f.email_field :email, autofocus: true, autocomplete: 'email'
.form-group.field
  = f.label :name
  = f.text_field :name, autofocus: true, autocomplete: 'name'
.form-group.field
  = f.label :address_line_1
  = f.text_field :address_line_1, autofocus: true, autocomplete: 'address_line_1'
.form-group.field
  = f.label :address_line_2
  = f.text_field :address_line_2, autofocus: true, autocomplete: 'address_line_2'
.form-group.field
  = f.label :city
  = f.text_field :city, autofocus: true, autocomplete: 'city'
.form-group.field
  = f.label :mobile_number
  = f.text_field :mobile_number, autofocus: true, autocomplete: 'mobile_number'